.footer {
  background: #1b1b1b;
  padding: 20px 50px;
  text-transform: uppercase;
  .footer-title {
    color: rgb(238, 238, 238);
    font-size: 20px;
    font-weight: 300;
  }
  .footer-text {
    color: rgb(189, 189, 189);
    font-size: 14px;
    font-weight: 300;
    &:hover {
      color: rgb(238, 238, 238);
    }
  }
  .col-container {
    width: max-content;
  }
  .all-rights-reserved {
    color: rgb(189, 189, 189);
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    border-top: 1px solid rgba(189, 189, 189, 0.205);
  }
}
